@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Signika+Negative:wght@300..700&display=swap');
:root{
    --color: #131313;
    --background: white;
    --invert:invert(0%);
    --border:#cfc2c2;
    --uninvert:invert(100%);
    --input:#e7e6e6;
    --transparent:white;
    --filter:blur(16px);
    --Alert_red:#ff0000a3;
    --Alert_red_border: 3px solid red;
    --Alert_blue:#162dd1db;
    --Alert_blue_border:3px solid #0008ff;
    --box_shadow:0 0px 7px rgb(0 0 0);
    --you:#ff005ade;
}
.dark{
     --background:#1e1a1a;
    --color:white;
    --invert:invert(100%);
    --border:#515151;
    --uninvert:invert(0%);
    --input:#4b4848;
    --transparent:rgb(0 0 0 / 44%);
    --filter:blur(16px);
    --Alert_red:#ff000026;
    --Alert_red_border:3px solid hsla(0, 100%, 50%, 0.271);
    --Alert_blue:#001fff26;
    --Alert_blue_border:3px solid #0008ff8c;
    --box_shadow:0 0px 12px rgb(0 0 0);
    --you:#ff005a;
}
#parent_tag_remove h3,#USER_NAME p,#Alert_red p,#Alert_Blue p,#clock,#menu_tabs p,#my_name h2{
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #remove,#cancel,
  #navigator h1,#following_butt,#nomore_foll{
font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  cursor: pointer;
  font-style: normal;
}
#User_Logo h1,#my_name h1,#logo h1,#parent_tag_remove h2,#USER_NAME h1,#profile_container h1,#Alert_red h1,#Alert_Blue h1,#user_chat h1, #dark_Light_mode h1{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  #navigator h1{position: relative;}
#home_page{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color:var(--background);
    overflow: hidden;

  }
#profile_container{
    display: flex;
    flex-direction: column;
    width: 3.7%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid var(--border);
}
#profile_container h1,#Alert_red,#Alert_Blue,textarea::placeholder{
    color: var(--color);
}
.FriendList_container{
    width: 40%;
    height: 100%;
    border-right: 2px solid var(--border);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
#my_profile{
    display: flex;
    width: 100%;
    height: 4rem;
    padding: 10px;
}
.border_line{
    width: 100%;
    height: 2px;
    background-color: var(--border);
}
#my_profile #logo{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100% ;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    color: var(--background);
}
#my_profile #my_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--color);
    padding-left: 15px;
}
#my_profile #my_name h1{
    font-size: 1.4rem;
}
#my_profile #my_name h2{
  font-size: 1rem;
  font-weight: 600;
}
.dynamic_container{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}
#profile_container #User_settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#dark_Light_mode{
    display: flex;
    justify-content: center;
    align-items: center;
}
#dark_Light_mode img,#User_settings div{
    width: 25px;
    height: 25px;
    position: relative;
}
#User_settings img{
    width: 100%;
    height: 100%;
}
#User_settings img,#dark_Light_mode img,#menu_tabs img{
    filter: var(--invert);
    position: relative;
}
.notification::before,#notification::before{
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: -4px;
    background-color: #eb2626;
    border-radius: 100%;
    border: none;
    right: -8px;
}
#user_search{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}
#user_search #search{
    display: flex;
    width: 80%;
    align-items: center;
    height: 40px;
    background-color: var(--input);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0px 2px rgba(0,0,0,0.5);
    border: none;
}
textarea{
    box-shadow: 0 0px 2px rgba(0,0,0,0.5);
    border: none;
    align-items: center;
    color: var(--color);
    background-color: var(--input);
}
#user_search #search input{    width: 90%;
    background-color: transparent;
    border: none;
    color: var(--color);
    padding-left: 10px;
}
#user_search #search input:focus{
outline: none;
}
#user_search #search img, #user_search img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
#message_icon{
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#user_search #search img{
    filter: invert(0%);
}

#Back_icon,.Back_icon{height: 30px;width: 30px;cursor: pointer;}
#close_image{
    padding: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
#user_search img,#close_image,#Back_icon,.Back_icon{
    filter: var(--invert);
}
.dynamic_container #global_search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-height: 40px;
    margin: 10px;
    border-radius: 12px;
    background-color: var(--input);
    box-shadow: 0 0px 2px rgba(0,0,0,0.5);
}
.dynamic_container #global_search img{
    width: 5%;
    height: 30px;
    object-fit: contain;
}
.dynamic_container #global_search input{
    width: 90%;
    padding-left: 10px;
    color: var(--color);
    background-color: transparent;
    border: none;
}
.dynamic_container #dark_Light_mode{
  justify-content:flex-start;
  align-items: center;
  gap: 1.5rem;
  padding: 10px 0 0 20px;
}
.dynamic_container #dark_Light_mode h1{
  color: var(--color);
}
input:focus{
    outline: none;
}
#special[type="text"]::placeholder{
    color: var(--color);
  }
  #User_Profile{
    width: 90%;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid var(--border);
    align-items: center;
    justify-content: space-between;
  }
  .user_Follow_Button,#following_butt,#followed_butt{
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
  }
  .user_Follow_Button{
    background-color: var(--color);
    color: var(--background);
  }
  #following_butt{
    background-color: #243ea373;
    color: #0010fd;
  }
  #followed_butt{
    background-color: #276825;
  color: #43fb00;
  }
  #User_Details{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .Messager_s{
    position: relative;
    border-bottom: 0.1rem solid var(--border);
    padding: 20px;
  }
  .notification_trued{
    position: absolute;
    width: 100px;
    right: 0%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .notification_trued div{ 
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #10a390; 
  }
  .notification_time{
   color: var(--color);
   font-size: 1rem; 
   font-weight: 700;
  }
  #User_Logo{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
    background-color: var(--color);
  }
  #USER_NAME,#nomore_foll{
    color: var(--color);
    font-size: 0.8rem;
  }
  #message_header_container{
    box-shadow: var(--box_shadow);
  }
  #Alert{
    position: absolute;
    background-color: transparent;
  }
  #Alert{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#parent_tag_remove{
    background-color: var(--transparent);
    border: 3px solid var(--border);
    backdrop-filter:var(--filter);
    box-shadow: 0 2px 12px rgba(0,0,0,0.5);
}
#parent_tag_remove h2,#parent_tag_remove h3,#parent_tag_remove p,.color{
    color: var(--color);
}
.hovered{
    border-bottom: 3px solid var(--color);
}
#parent_tag_remove #remove,#parent_tag_remove h3{
    border: none;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid var(--border);
}
#cancel{
    color: var(--color);
}
#Alert_red{
    background-color:var(--Alert_red) ;
    border:var(--Alert_red_border) ;
}
#Alert_Blue{
    background-color:var(--Alert_blue) ;
    border: var(--Alert_blue_border);
}

textarea::-webkit-scrollbar-thumb{
    background: var(--color); 
    border-radius: 5px; 
  }
  *::-webkit-scrollbar {
    height: 5px;
    width: 6px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #397524;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #62A34B;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
  }
  #messagers_container{
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 5px
  }
  .messagers_message{
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--border);
    padding: 15px;
  }
  #clock,#user_chat h1{
    color: var(--color);
  }
  .me{
    background-color: #10a390;
  }
  .you{
    background-color:var(--you) ;
  }
  .you::after{
  border-bottom: 10px solid var(--you);
  }
  .header{
    display: none;
  }
.setting_profile{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--border);
}
.hiding,.menu_setting{
  position: absolute;
  right: 2%;
  top: 50px;
  padding: 8px;
  transition: all 0.3s ease-in;
  border: 2px solid var(--border);
  border-radius: 12px;
  background-color:var(--input);
}
.hiding{
  transform: translateX(115%);
}
.menu_setting h1{
  font-size: 1.2rem;
}
  /* mobile screen */
  @media (max-width:780px){
    #home_page{
      flex-direction: column;
    }
    .color{
      font-size: 1.2rem;
    }
    .menu_setting{
  transform: translateX(0%);
  transition: all 0.3s ease-in; 
  z-index: 2;
    }
    .hiding{
      transform: translateX(115%);
      transition: all 0.3s ease-in;
    }
    #profile_container,.first_line{
      display: none;
    }
    .FriendList_container{
      display: flex;
      width: 100%;
    }
    #my_profile{
      display: none;
    }
    .dynamic_container{
      width: 100%;
      overflow-y: scroll;
    }
    
  .header{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom:2px solid var(--border) ;
  }
  .hided{
    display: none;
  }
  #name h1{
    color: var(--color);
  }
  #name{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    position: relative
  }
  #name h1{
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  #menu{
    display: flex;
    background-color: var(--color);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
  }
  #menu::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color);
    top: -8px;
    border-radius: 50%;
  }
  #menu::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color);
    top: 8px;
    border-radius: 50%;
  }
  #menu_tabs{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    }
    #menu_tabs div{
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    }
    #menu_tabs img{
      width: 25px;
    }
  #menu_tabs p{
    font-size: 1.2rem;
    color:var(--color);
    font-weight: 600;
  }
  #menu_tabs .active{
    border-bottom: 2px solid var(--color);
  }
#back_icon_container{
    display: flex;
    padding: 10px;
  }
  #dark_Light_mode h1{
    font-size: 1rem;
  }
}
