main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, rgb(68, 202, 201) 0%,rgb(252, 255, 114) 100%);
}
#login{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255 255 255 / 9%);
    gap: 1rem;
    border: 4px solid #e5e4e4;
    border-radius: 15px;
    backdrop-filter: blur(12px);
    padding: 4rem;
}
#ball_1{
    position: absolute;
    z-index: 1;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}
#ball_1::before{
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    background: linear-gradient(#08ffe6,#fcd200);
    z-index: 1;
    border-radius: 100%;
    translate: 9rem 3rem;
}
#login #input{
    height: 40px;
    width: 250px;
    background-color: white;
    border: none;
    border-radius: 15px;
}
#input input{
    width: 100%;
    height: 100%;
    padding-left:10px ;
    border-radius: 15px;
    border: none;
}
#Submit_form button{
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
}