main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}
#login{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255 255 255 / 9%);
    gap: 1rem;
    border: 4px solid #e5e4e4;
    border-radius: 15px;
    backdrop-filter: blur(12px); 
    padding: 4rem 2rem 2rem 2rem;
}
#ball_1,#ball_2,#ball_3{
    position: absolute;
    z-index: 1;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}
#ball_3::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #08ffe6;
    z-index: 1;
    translate: 9rem -9rem;
}
#ball_3::after{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #fc002e;
    z-index: 1;
    translate: -9rem 8rem;
}
#ball_2::before,#ball_1::before{
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    background: linear-gradient(#08ffe6,#fcd200);
    z-index: 1;
    border-radius: 100%;
}
#ball_1::before{translate: 11rem 7rem;}
#ball_2::before{translate: 11rem 10rem;}
#ball_2::after,#ball_1::after{
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    background: linear-gradient(#fcd200, #fc002e);
    z-index: 1;
    border-radius: 100%;
}
#ball_1::after{translate: -15rem -12rem;}
#ball_2::after{translate: -15rem -15rem;}
#login #input{
    height: 40px;
    width: 250px;
    background-color: white;
    border: none;
    border-radius: 15px;
}
#login h1{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
#login p{
    font-family: "Abel", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#login button{
    font-family: "Abel", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.2rem;
}
#input input{
    width: 100%;
    height: 100%;
    padding-left:10px ;
    border-radius: 15px;
    border: none;
    background-color: white;
  border: 2px solid #ddc6c6;
}
#Submit_form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
}
#Submit_form button{
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
}
#loading_animation{
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: rgb(0 0 0 / 47%);
    box-shadow: 0 2rem 2px 100rem rgb(0 0 0 / 47%);
}
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: #f03355;
    -webkit-mask:repeating-linear-gradient(#000 0 5px,#0000 0 10px);
    animation: l35 1.5s infinite;
  }
  .loader:after {
    -webkit-mask:repeating-linear-gradient(#0000 0 5px,#000 0 10px);
    --s:-1;
  }
  @keyframes l35 {
    0%,
    10% {transform: translate(0) rotate(0)}
    35% {transform: translate(calc(var(--s,1)*50%)) rotate(0)}
    66% {transform: translate(calc(var(--s,1)*50%)) rotate(calc(var(--s,1)*180deg))}
    90%,
    100% {transform: translate(0) rotate(calc(var(--s,1)*180deg))}
  }
@media (max-width:555px) {
#ball_1::before{
    translate: 6rem 6rem;
}
#ball_2::before{
    translate: 6rem 11rem;
}
#ball_1::after{
    translate: -10.5rem -11rem;
}
#ball_2::after{
    translate: -10.5rem -15rem;
}
}
